---
	import Layout from '../layouts/Layout.astro';
	import Header from '../components/Header.astro';

	import '../css/home.css'

	import { Image, getImage } from 'astro:assets';

	import Logo from '../assets/logo/logo.png';
	import DarkBg01 from '../assets/dark-bg-01.png';
	import CityShadow from '../assets/city-shadow.png';
	import YellowShapes from '../assets/yellow-shapes.png';
	import City from '../assets/city.png';
	import CtaBg from '../assets/cta-bg.png';
	import VanPhoto from '../assets/van_photo01.png';
	import YellowGrainyGradient from '../assets/grain-gradient-yellow.png';

	const DarkBg01Optimized = await getImage({src: DarkBg01, format: 'png'})
	const CityShadowOptimized = await getImage({src: CityShadow, format: 'png'})
	const YellowShapesOptimized = await getImage({src: YellowShapes, format: 'png'})
	const CityOptimized = await getImage({src: City, format: 'png'})
	const CtaBgOptimized = await getImage({src: CtaBg, format: 'png'})
	const YellowGrainyGradientOptimized = await getImage({src: YellowGrainyGradient, format: 'png'})
---

<Layout>
	<main>
		<Header/>
	</main>
</Layout>